img
{
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #d6b387 !important;
    border: #d6b387 !important;
}

th
{
    font-weight: bold;
}

.bannerText
{
    color: #ababab;
    margin-left: 5px;
}

.icon
{
    color: #d6b387;
    float:right;
    margin-right: 10px;
    margin-top: 1px;
}

.mainPageButton
{
    position: sticky;
    left: 45%;
}

.homePageIcon
{
    color: #d6b387;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
}

.bannerSize
{
    height: 50%;
    background: #e9ecef;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 1px;
}

h1
{
    text-align: center;
}

h4
{
    text-align: center;
}
